body{
    max-width: 1170px;
    background-color: rgb(210, 192, 192);
    margin: 10 auto;
}
.card-container{
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.card-section{
    text-align: center;
}
.card{
    width: 300px;
    border: 2px solid cornsilk;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 10px 10px 10px black;
}
.card:hover
.card h2{
    font-size: 1.25em;
    font-weight: 700;
}
.card img{
    width: 100%;
    border-radius: 10px;

}
button{
    background-color: brown;
    padding: 10px 30px;
    font-size: 1.25em;
    border-radius: 25px;
    cursor: pointer;
}